h1 {
    margin: 0;
    padding: 0;
}

.header {
    height: 190px;
    width: inherit;
    padding-left: 10px;
    position: relative;


    &__status-link {
        margin-left: 123px;
        
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #666666;
}

.title-black {
    color: black;
}

.status-link {
    font-size: 12px;
    text-decoration-style: dashed;
}

.content-line {
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
}

.tooltip-box {
    position: absolute;
    left: 232px;
    width: 503px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    &__input {
        min-width: 336px;     
        width: 336px;  
        height: 31px;
        padding: 6px 12px;
    }
}

.input {
    font-size: 16px
}